alembic
anyio
bcrypt
cryptography
fastapi
fastapi-jwt-auth
httpcore
httptools
httpx
Mako
MarkupSafe
passlib
psycopg2
pycparser
pydantic
PyJWT
python-dotenv
python-multipart
PyYAML
SQLAlchemy
typing_extensions
uvicorn
email-validator
fastapi-mail
